<mat-card appearance="outlined">
  <mat-card-content>
    <mat-form-field>
      <mat-label>Color</mat-label>
      <mat-select [formControl]="activeColor">
        @for(color of colors; track color) {
        <mat-option [value]="color">
          {{color}} <span [ngStyle]="{ 'background-color': color }">&nbsp;&nbsp;&nbsp;</span>
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button
      mat-button
      (click)="switchToBar()"
      matTooltip
    >
      switch to Bar
    </button>

    @if (chartOptions) {
    <highcharts-chart
      [Highcharts]="Highcharts"
      [options]="chartOptions"
      [(update)]="updateFlag"
      style="width: 100%; height: 400px; display: block"
    ></highcharts-chart>

    }

    <!--  <div id="container"></div> -->
  </mat-card-content>
</mat-card>
